<!DOCTYPE html>
<html lang="zh-Hans">
{% include head.html %}

<body class="home-template">
	<div class="site-wrapper">
		{% include header.html %}
		<a id="translateLink"><span id="translateLinkText">简</span></a>
		{{ content }}
		{% include footer.html %}
	</div>
</body>

<script src="https://cdn.jsdelivr.net/npm/opencc-js"></script>
<script>
if((typeof Symbol==="function")&&(typeof Symbol.iterator==="symbol")&&(typeof OpenCC==="object")) {
	if(typeof NodeList.prototype[Symbol.iterator]==="undefined") {
		NodeList.prototype[Symbol.iterator]=[][Symbol.iterator];
	}
	const translateButtonTextObject=document.getElementById("translateLinkText");
	const HTMLConvertHandler=OpenCC.HTMLConverter(OpenCC.Converter({from: "cn", to: "tw"}), document.documentElement, "zh-Hans", "zh-Hant");
	var lang=(navigator.userLanguage||navigator.language).toLowerCase();
	if((localStorage.getItem("targetEncoding")===null)&&(lang.startsWith("zh"))&&((lang.indexOf("-tw")!==-1)||(lang.indexOf("-hk")!==-1)||(lang.indexOf("-mo")!==-1)||(lang.indexOf("-hant")!==-1))) {
		localStorage.setItem("targetEncoding", 1);
	}
	if(+localStorage.getItem("targetEncoding")) {
		translateButtonTextObject.innerHTML="繁";
		HTMLConvertHandler.convert();
	}
	document.getElementById("translateLink").onclick=()=>{
		if(+localStorage.getItem("targetEncoding")) {
			translateButtonTextObject.innerHTML="简";
			HTMLConvertHandler.restore();
		} else {
			translateButtonTextObject.innerHTML="繁";
			HTMLConvertHandler.convert();
		}
		localStorage.setItem("targetEncoding", +localStorage.getItem("targetEncoding")?0:1);
	};
	document.getElementById("translateLink").style.display="block";
}
</script>

<script>
cb=(r)=>{
	console.log(r.value);
};
</script>
<script async src="https://api.countapi.xyz/hit/:HOST:/:PATHNAME:?callback=cb"></script>
</html>