<!DOCTYPE html>
<html lang="zh-Hans">
{% include head.html %}

<body class="home-template">
	<div class="site-wrapper">
		{% include header.html %}
		<a id="translateLink"><span id="translateLinkText">简</span></a>
		{{ content }}
		{% include footer.html %}
	</div>
</body>

<script src="https://cdn.jsdelivr.net/npm/opencc-js"></script>
<script>
const translateButtonTextObject=document.getElementById("translateLinkText");
const HTMLConvertHandler=OpenCC.HTMLConverter(OpenCC.Converter({from: "cn", to: "tw"}), document.documentElement, "zh-Hans", "zh-Hant");
if(+localStorage.getItem("targetEncoding")) {
	translateButtonTextObject.innerHTML="繁";
	HTMLConvertHandler.convert();
}
document.getElementById("translateLink").onclick=()=>{
	if(+localStorage.getItem("targetEncoding")) {
		translateButtonTextObject.innerHTML="简";
		HTMLConvertHandler.restore();
	} else {
		translateButtonTextObject.innerHTML="繁";
		HTMLConvertHandler.convert();
	}
	localStorage.setItem("targetEncoding", +localStorage.getItem("targetEncoding")?0:1);
};
if(typeof OpenCC!=="undefined") {
	document.getElementById("translateLink").style.display="block";
}
</script>
</html>
